<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension id="selfcheck" point="org.eclipse.core.runtime.applications">
    <application cardinality="singleton-global" thread="main" visible="false">
      <run class="com.kide.enterprise.migration.ProjectSchemaSelfCheckApplication"/>
    </application>
  </extension>
</plugin>
