<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ActivityDiagram -->
      <package
            uri="http://activitydiagram/1.0"
            class="activityDiagramModel.ActivityDiagramModelPackage"
            genModel="model/ActivityDiagram.genmodel"/>
   </extension>

</plugin>
