<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.smr.activity.activity2mnc.commands.sampleCommand"
            description="Generate MNC-ML Code"
            name="Generate MNC-ML code"> 
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mncml.dsl.ui.MncExecutableExtensionFactory:com.smr.activity.activity2mnc.handlers.Activity2MncHandler"
            commandId="com.smr.activity.activity2mnc.commands.sampleCommand">
            <activeWhen>
            	 <reference definitionId="com.smr.activity.dsl.ActivityDiagram.XtextEditor.opened" />
            </activeWhen>
      </handler>
   </extension>
 
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext?after=copy">
            <command
                  commandId="com.smr.activity.activity2mnc.commands.sampleCommand"
                  id="com.smr.activity.activity2mnc.menus.sampleCommand"
                  label="Generate Control System"
                  mnemonic="G">
 
                    <visibleWhen>
				           <reference definitionId="com.smr.activity.dsl.ActivityDiagram.XtextEditor.opened"/>
         			</visibleWhen>
            </command>
      </menuContribution>
   </extension>
  
</plugin>
